API_ID=
API_HASH=
BOT_TOKEN=
LOGGER_ID=
MONGO_DB_URI=
OWNER_ID=
STRING_SESSION=
GPT_API=
DEEP_API=
PLAYLIST_FETCH_LIMIT=30

SHRUTI_API_URL=https://api01.shrutibots.site
SHRUTI_API_KEY=shruti_123456789  # @SHRUTIAPIBOT से ली गई Key
