API_ID=
API_HASH=
BOT_TOKEN=
LOGGER_ID=
MONGO_DB_URI=
OWNER_ID=
STRING_SESSION=
GPT_API=
DEEP_API=
PLAYLIST_FETCH_LIMIT=30

CRAZYHUB_API_URL=https://your-crazyhub-api-domain.com
CRAZYHUB_API_KEY=your_crazyhub_api_key  # jo API_KEY aapne CRAZYHUB_API server ke .env me set ki thi, wahi yahan
